body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 218, 151);
  text-align: center;
}

/*header*/

h1 {
  font-family: 'Aboreto', sans-serif;
  font-size: 50px;
  color: white;
  border: 3px white solid;
  width: 300px;
  text-align: center;
  padding: 15px;
}

.headertext {
  z-index: 1;
  position: absolute;
  top: 75px;
  height: 300px;
  width: 100%;
}

.headerimg {
  background-image: url(https://scx2.b-cdn.net/gfx/news/2019/sunflowers.jpg);
  background-size: cover;
  background-position: bottom center;
  height: 300px;
  opacity: 0.7;
  position: relative;
}

/*text in containers*/

p {
  font-family: 'Quicksand';
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  margin: 0px 20px;
  padding: 5px;
}

/*handwriting quotes*/

h2 {
  font-family: 'Caveat';
  font-size: 40px;
  line-height: 45px;
  text-align: left;
  margin: 0px 20px;
}

/*footer txt*/

h3 {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-family: 'Quicksand';
}

main {
  display: grid;
  margin: 1% 0 1% 1%;
  border-radius: 10px 0 0 10px;
  background-color: rgb(255, 242, 216);
  grid-template-areas: "left middle navigation"
    "left middle navigation"
    "left middle navigation"
    "left middle navigation";
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 2fr 2fr 1fr;
}


/* navigation */

.navigation {
  grid-area: navigation;
  box-sizing: border-box;
  /*width: 30%;*/
  height: auto;
  background-color: rgba(59, 69, 58, 0.812);
  color: white;
  text-align: left;
  padding: 10px;
  position: relative;
  right: 0;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  padding: 5px;
}

/*containers left*/

.left {
  display: grid;
  grid-area: left;
  position: relative;
  /*width: 30%;
  min-width: 400px;*/

}

.container1 {
  box-sizing: border-box;
  border-radius: 10px;
  border-style: hidden 1px;
  height: auto;
  background-color: white;
  padding: 20px 0px;
  margin: 5%;
}

.container2 {
  box-sizing: border-box;
  border-radius: 10px;
  border-style: hidden 1px;
  height: auto;
  background-color: white;
  padding: 20px 0px;
  margin: 5%;
}

.container3 {
  box-sizing: border-box;
  border-radius: 10px;
  border-style: hidden 1px;
  height: auto;
  background-color: white;
  padding: 20px 0px;
  margin: 5%;
}

/*quote*/

.quote {
  box-sizing: border-box;
  height: auto;
  color: rgb(0, 0, 0);
  padding: 20px;
  display: grid;
  margin: auto;
}

/*middle container*/

.middle {
  grid-area: middle;
  position: relative;
  /*width: 40%;
  min-width: 300px;*/
}

.container4 {
  box-sizing: border-box;
  border-radius: 10px;
  border-style: hidden 1px;
  height: auto;
  background-color: white;
  margin: 5%;
  padding: 20px 0px;
}

.container5 {
  box-sizing: border-box;
  border-radius: 10px;
  border-style: hidden 1px;
  height: auto;
  background-color: white;
  margin: 5%;
  padding: 20px 0px;
}

.container6 {
  box-sizing: border-box;
  border-radius: 10px;
  border-style: hidden 1px;
  height: auto;
  background-color: white;
  margin: 5%;
  padding: 20px 0px;
}

/*footer*/

/*.bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
}

.list {

  background-color: red;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 50px;
}

button {
  background-color: blue;
  height: 100%;
  border: 0;
  margin-bottom: 0;
  width: 100%;
}
*/
